</head>
        {%load static%}

        <link rel="stylesheet" href=" {% static 'site_users/style.css' %}">

            {% block tittle %}

            {% endblock %}



<body>

<div class="topnav">
    <a class="active" href="{% url 'first-page'%}">Home</a>
    <a href="{% url 'about' %}">About Us</a>
    <a href="{% url 'contract' %}">Contact Us</a>
    <a href="{% url 'profile' %}">User Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
    <input type="text" placeholder="Search..">
</div>

<div style="padding-left:16px">
  <h2>After Login User can find his/her desire job from this page</h2>
</div>

</body>
</html>