</head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {%load static%}

        <link rel="stylesheet" href=" {% static 'site_users/profile.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
            <a href="{% url 'first-page'%}" class="btn btn-info">Home</a>
            <a href="{% url 'about' %}" class="btn btn-info">About Us</a>
            <a href="{% url 'contract' %}" class="btn btn-info">Contact Us</a>
            <a href="{% url 'profile' %}" class="btn btn-info">User Profile</a>
            <a href="{% url 'logout' %}" class="btn btn-info">Logout</a>

        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{{ user.profile.profile_picture.url }}" alt ="{{ user.profile.profile_picture.url }}">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{user.username}}</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">

              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;  background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>


</div>
    </div>
<style>
.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}
</style>
  </div>
        {% for i in pw %}

        <div class="container p-3 my-3 border">
        <h2>{{i.Work_Type}}</h2>
        <p>Title: {{i.Title}}</p>
        <p>Company Name: {{i.Company_Name}}</p>
        <p>Description: {{i.Description}}</p>
        <p>Requirements: {{i.Requirements}}</p>
        <p>Experience: {{i.Experience}}</p>
        <p>Salary: {{i.Salary}}</p>
        <p>Location: {{i.Location}}</p>
        <p>Vacancy: {{i.Vacancy}}</p>
         <button class="btn">Apply</button>
        </div>
        {% endfor %}




</body>
</html>