{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <style>
    .proup{
    padding: 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.3);
    }
</style>


{% block content %}
  <img style="height: 30px; width:30px" class="rounded-circle"
       src="{{ user.profile.profile_picture.url }}"
       alt ="{{ user.profile.profile_picture.url }}">

 {{user.username}}

 {% endblock %}

    <div style = "padding-left:25%; padding-right:5%;">
    <div class="proup" style = "margin-bottom:30%">
     <form method = "POST" enctype="multipart/form-data" >

        {% csrf_token %}
        <fieldset class="form-group">
            {{ user_update_form | crispy }}
            {{ profile_update_form | crispy }}

        </fieldset>
             <button class="submit form-group btn btn-outline-info">
             Update
        </button>
    </div>
    </div>

    </form>










